body, html {
    margin: 0;
    font-family: sans-serif;
}

input, select {
    font-size: 1.1rem;
}

#controls {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: white;
    text-align: center;
    z-index: 1;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}

#gallery, #selection, #masks {
    padding-top: 130px;
    text-align: center;
}

.image {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

.image.selected {
    background: #00c4ff;
}

.image.no-mask {
    padding-top: 20px;
    padding-bottom: 20px;
}

#masks {
    border-top: 1px solid #dadada;
    padding-top: 50px;
    margin-top: 50px;
}

#masks::before {
    content: 'MASKS';
    display: block;
    color: #dadada;
    font-weight: bolder;
    margin-bottom: 50px;
}

#masks .image {
    max-width: 150px;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #dadada;
    margin: 3%
}

img {
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 100%;
}